# The SDK and data (which is uplaoded on Huggingface) are large, so we ignore them
# SDK available at official repo of CMU Multicomp Lab
CMU-MultimodalSDK/ 
CMU-MultimodalSDK-Tutorials/data


# Python bytecode files
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Any pdf files
*.pdf

# CARAT's data
CARAT/data/train_valid_test.pt


# Model logs
CARAT/model_saved/

# Git repo of OMGEmotion dataset (unused)
OMGEmotionChallenge/DetailedAnnotations/



