# The SDK and data (which is uplaoded on Huggingface) are large, so we ignore them
# SDK available at official repo of CMU Multicomp Lab
CMU-MultimodalSDK/ 
CMU-MultimodalSDK-Tutorials/data


# Python bytecode files
*.pyc
__pycache__/

.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# CARAT's data
CARAT/data/train_valid_test.pt
CARAT/data/cmu_mosei_unaligned_ree.pt
CARAT/data/omg_emotion_data.pt


# Model logs and checkpoints
CARAT/model_saved/

# Git repo of OMGEmotion dataset
# OMGEmotionChallenge/DetailedAnnotations/

# GloVe embeddings stored at:
.vector_cache/

